<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-sm-offset-1">
      <h1 class="text-center">Booking</h1>

      <%= render @booking, show: true %>

    </div>
  </div>
</div>
