<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 class="text-center">Bookings</h2>

      <%= render @booking, show: true %>

    </div>
  </div>
</div>
