<div class="container">
  <div class="row justify-content-center">
    <% if object.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(object.errors.count, "error") %> prohibited from being saved:</h2>

        <div class="field-with-errors">
          <ul>
            <% object.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end -%>
  </div>
</div>
