<nav class="navbar navbar-default navbar-fixed-top">
  <strong><a class="navbar-brand">Car booking</a></strong>
  <a class="navbar-brand"><%= link_to "Home", root_path, class: 'btn btn-dark' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
      <%= link_to "Book Car", cars_path, class: 'btn' %>
      <%= link_to "Add Car", new_car_path, class: 'btn' %>
      <%= link_to "Add Person", new_person_path, class: 'btn' %>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <li class="mobile-menu">
    </li>
    </div>
  </div>
</nav>
