<div class="container p-5">
  <div class="card mb-5 p-5 b-rad">
    <h1 class="text-center"><b>WELCOME TO OUR BOOKING SITE FOR CARS</b></h1>
  </div>
  <div class="align-middle">
    <%= link_to 'Bookings', bookings_path, class: 'btn btn-warning m-2' %>
    <%= link_to 'People', people_path, class: 'btn btn-info m-2' %>
    <%= link_to "Cars", cars_path, class: "btn btn-primary m-2" %>
  </div>
</div>
