<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-2 col-sm-offset-8">
      <div>
        <%= link_to 'Reserve', @booking, class: 'btn btn-success' %>
        <%= link_to 'Cancel', @booking, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
