<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center">Info</h1>

      <%= render @car, info: true %>

    </div>
  </div>
</div>
